*{
	padding: 0rem;
	margin: 0rem;
}
html{
	font-size: 62.5%;
	scroll-behavior: smooth;
	position: relative;
}
.paragraph{
	font-size: 20px;
	line-height: 1.5;
}
/*---------------------Body Part CSS---------------------*/

body{
	color: white;
	background-color: #181818;
	margin: 0rem;
	padding: 0rem;
	font-family: Source Sans Pro;
}
.fa-chevron-circle-up{
	color: white;
	border-radius: 50%;
	font-size: 50px;
	position: fixed;
	bottom: 6rem;
	right: 4rem;
	opacity: 0.5;
	transition-duration: 0.4s;
}
.fa-chevron-circle-up:hover{
	color: #00BFFF;
	opacity: 1;
}








/*---------------------Header Starting---------------------*/
#header{
		height: 9rem;
		background-color: #79DAE8;
		text-align: center;
    position: sticky;
    top: 0;
    width: 100%;
    opacity: 0.9;
    z-index: 1;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255,255,255,0));
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
}

/*---------------------Header picture starting---------------------*/
#header_picture{
	width: 7rem;
    float: left;
    width: 30%;
    margin: 0.4rem auto;
}
#header_boy{
	height: 7rem;
    width: 7rem;
}
/*---------------------Header picture ending---------------------*/
/*---------------------Navbar Starting---------------------*/
#header_div{
    height: 8rem;
    width: 35rem;
    float: right;
    padding: 0rem 15rem 0rem 0rem;
}
#header_ul{
	font-size: 2.3rem;
    overflow: hidden;
    text-align: center;
    padding: 2.9rem 0rem;
    margin: 0rem;
    word-spacing: 3rem;
}
.header_li{
	color: white;
	display: inline-block;
	width:auto;
	text-align: center;
	transition-duration: 0.3s;
	box-sizing: border-box;
}
li.header_li:hover{
		color: #00BFFF;
}
/*---------------------Navbar Ending---------------------*/
@media(max-width: 810px){
	html{
		font-size: 55%;
	}
}
@media(max-width: 713px){
	html{
		font-size: 50%;
	}
}
@media(max-width: 713px){
	html{
		font-size: 45%;
	}
}
@media(max-width: 584px){
	html{
		font-size: 40%;
	}
}
/*---------------------Header Ending---------------------*/












/*---------------------Body starting---------------------*/
hr{
	border: 6px dotted #00BFFF;
	width: 25px;
	border-bottom: none;
	margin: 20px auto;
}
#main_body{
	padding: 0px 0px 0px 0px;
}
/*---------------------First div starting---------------------*/
#first_div{
	width: 100%;
	height: 68vh;
}
@media(max-width: 1102px){
	#first_div{
		height: 70vh;
	}
}
@media(max-width: 987px){
	#first_div{
		height: 70vh;
	}
}
@media(max-width: 891px){
	#first_div{
		height: 100vh;
	}
}


.div1_outerbox{
	width: 100%;
	height: 60vh;
	margin: 50px auto;
	text-align: center;
}

.div1_elements{
	width: 600px;
	height: 400px;
	margin: 20px 20px;
	display: inline-block;
	text-align: center;
	overflow: hidden;
}


@media(max-width: 1292px){
		.div1_elements{
			width: 500px;
			height: 350px;
		}
}
@media(max-width: 1092px){
		.div1_elements{
			width: 450px;
			height: 360px;
		}
}
@media(max-width: 992px){
		.div1_elements{
			width: 420px;
			height: 320px;
		}
}
@media(max-width: 932px){
		.div1_elements{
			width: 400px;
			height: 300px;
		}
}
@media(max-width: 891px){
		.div1_elements{
			width: 430px;
			height: 300px;
		}
}


#intro{
	top: 100px;
}
.intro_container{
	width: 70%;
	height: 200px;
	margin: 40px auto;
}
#div1_h{
	font-family: Moon Dance;
	font-size: 60px;
}
#div1_p{
	margin: 10px 0px 30px 0px;
}



#div1_boy{
	width: 80%;
	background-color: #00BFFF;
	border-radius: 40% 60% 70% 30% / 58% 59% 41% 42% ;
	box-shadow: 0 12px 16px 0 rgba(255,255,255,0.24),0 17px 50px 0 rgba(255,255,255,0.19);
}















.div1_btn{
		background-color:#00BFFF;
		color: black;
    font-size: 20px;
    width: 135px;
    height: 45px;
    border-radius: 7px;
    border: none;
    transition-duration: 0.3s;
}
.div1_btn:hover{
	box-shadow: 0 12px 16px 0 rgba(255,255,255,0.24),0 17px 50px 0 rgba(255,255,255,0.19);
	cursor: pointer;
	background-color: #318CE7;
	color: white;
}



/*.div1_img{
	display: inline-block;
	float: right;
}
/*@media(max-width: 810px){
	.first_div_img{
		display: none;
	}*/





















/*---------------------first div ending---------------------*/
/*---------------------second div starting---------------------*/

.div_2_p{
	width: 50%;
	margin: 20px auto;
	text-align: center;
	padding: 20px 0px;
}

/*---------------------second div ending---------------------*/
/*---------------------third div starting---------------------*/
.body_heading{
	text-align: center;
	width: auto;
	margin: 20px auto;
	font-size: 30px;
}
#skill_box{
	width: 80%;
	margin: 20px auto;
	text-align: center;
	padding: 20px 0px;
}
.skill_container{
	border: 1px solid #00BFFF;
    width: 160px;
    display: inline-block;
    margin: 25px 15px;
    border-radius: 10px;
    transition-duration: 0.4s;
		background-color:  #383838;
		box-shadow: 0 12px 16px 0 rgba(255,255,255,0.24),0 17px 50px 0 rgba(255,255,255,0.19);
}
.skill_container:hover{
	cursor: pointer;
}

.shadow_box{
	margin: 15px;
}

.skill_img{
	width: 60%;
}
.skill_info{
	
}
#front_end_container{

}
.skill_header{
	font-size: 17px;
	padding: 4px;
}
.skill_para{
	font-size: 13px;
	padding: 4px;
}








/*---------------------third div ending---------------------*/
/*---------------------fourth div starting---------------------*/
#outro{
	text-align: center;
	background-color: ;
	border-radius: ;
}
#last_h1{
	font-size: 40px;
}
#last_h2{
	font-size: 25px;
}
#last_p{
 	font-size: 20px;
}
#last_h3{
	font-size: 30px;
}
.last_div{
	width: 50%;
	margin: 30px auto;
}


/*-----------------freelancer links--------------------*/
#freelancer_links_container{
	width: 50%;
	margin-top: 3rem;
	margin-right: auto;
	margin-bottom: 7rem;
	margin-left: auto;
}

.freelancer_img{
	background-color: #303030;
	display: inline-block;
	width: 30px;
	margin: 10px 20px;
	transition-duration: 0.4s;
	background: #F4F9F9;
	padding: 10px;
	border-radius: 15px;
}
.freelancer_links{

}
.freelancer_img:hover{
	box-shadow: 0 12px 16px 0 rgba(255,255,255,0.24),0 17px 50px 0 rgba(255,255,255,0.19);
	cursor: pointer;
	border-radius: 50% ;
}



/*---------------------fourth div ending---------------------*/
/*---------------------Body Ending---------------------*/





/*---------------------Footer starting---------------------*/
#footer_div{
	background-color:  #383838;
	
}

/*---------------------Footer social links starting---------------------*/
#footer_ul{
	text-align: center;
	padding: 30px;
	margin: 0px;
	transition-duration: 0.4s;
}
.footer_li{
	display: inline-block;
	font-size: 26px;
	width: 60px;
	margin: 0px;
	padding: 0px;
	color: white;
	transition-duration: 0.4s;
}
#footer_div_social{
	height: 90px;
}
/*----------------------Social link CSS---------------*/
.fa-facebook:hover{
	color: #00BFFF;
	transition-duration: 0.4s;
}
.fa-twitter:hover{
	color: #00BFFF;
	transition-duration: 0.4s;
}
.fa-linkedin-square:hover{
	color: #00BFFF;
	transition-duration: 0.4s;
}
.fa-github:hover{
	color: #00BFFF;
	transition-duration: 0.4s;
}
/*---------------------Footer social links ending---------------------*/


#copyright{
	margin: 0px;
	padding: 0px 0px 8px 0px;
	font-size: 14px;
}
/*---------------------Footer ending---------------------*/













/*------------------------------------------------------------------------------------------*/
/*                                        Design part                                       */
.container{
}
#div1_shape1{
	position: absolute;
	background-color: #383838 ;
	height: 580px;
  width: 100%;
	z-index: -1;
	top: -20px;
	right: 0px;
	clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}
@media(max-width: 891px){
		#div1_shape1{
			position: absolute;
			background-color: #383838 ;
			height: 800px;
		  width: 100%;
			z-index: -1;
			top: -20px;
			right: 0px;
			clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
		}
}




#div2_cover{
	background-color:  #383838;
	border-radius: 100% 0% 100% 0% / 21% 81% 19% 79%  ;
	padding: 40px 0px;
	box-shadow: 0 12px 16px 0 rgba(255,255,255,0.24),0 17px 50px 0 rgba(255,255,255,0.19);
}

span{
	color: #00BFFF;
}

/*#skill_background{
	
}
.skill_background_shapes{
	position: absolute;
	z-index: -1;
	background-color: lightgrey;
	width: 100px;
	height: 100px;
	border-radius: 10px;
}
#skill_shape_1{
	position: relative;
	width: 90%;
	top: 250px;
}
#skill_shape_2{

}
#skill_shape_3{

}
#skill_shape_4{

}
#skill_shape_5{

}
#skill_shape_6{

}
#skill_shape_7{

}*/

/* width */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background-color: black;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: ;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:;
}




/* -----------------------------------------------------------Responsiveness--------------------------------------------------- */









@media(max-width: 471px){
/*------header---------*/
	#header_div{
	    height: 8rem;
	    width: 33rem;
	    padding: 0rem 2rem 0rem 0rem;
	}
	#header_ul{
			font-size: 18px;
	}
	.div1_outerbox{
		width: 100%;
		height: 60vh;
		margin: 30px auto;
	}

	.div1_elements{
		width: 350px;
		height: 300px;
	}

	/*----------------2nd div -----------------*/

		.div_2_p{
			width: 75%;
			margin: 20px auto;
			padding: 20px 0px;
			font-size: 18px;
		}

		/*---------------------third div starting---------------------*/
		.body_heading{
			margin: 20px auto;
			font-size: 30px;
		}
		#skill_box{
			width: 80%;
			margin: 20px auto
			padding: 20px 0px;
		}
		.skill_container{
		    width: 120px;
		    margin: 25px 15px;
		}
		.skill_header{
			font-size: 17px;
			padding: 4px;
		}
		.skill_para{
			font-size: 13px;
			padding: 4px;
		}


		/*---------------------fourth div starting---------------------*/
		}
		#last_h1{
			font-size: 38px;
		}
		#last_h2{
			font-size: 25px;
		}
		#last_p{
		 	font-size: 20px;
		}
		#last_h3{
			font-size: 30px;
		}
		.last_div{
			width: 80%;
			margin: 30px auto;
		}
		/*-----------------freelancer links--------------------*/
		#freelancer_links_container{
			width: 80%;
		}

		.freelancer_img{
			width: 22px;
			margin: 10px 10px;
			padding: 8px;
			border-radius: 10px;
		}
}
